.ghe {
  cursor: pointer;
  margin: 1px;
  font-size: 23px;
}

.gheDaDat {
  color: red !important;
  cursor: no-drop;
}

.gheVip {
  color: orange;
}

.gheDangDat {
  color: rgb(18, 176, 18) !important;
}

@media screen and (max-width: 1023px) {
  .checkout_content {
    display: block;
    min-width: 850px;
  }

  .checkout_content .checkout_right {
    width: 50%;
    margin-left: 25%;
  }
}

@media screen and (max-width: 670px) {
  .checkout_content {
    display: block;
    min-width: 850px;
  }
  .checkout_content .checkout_right {
    width: 50%;
    margin-left: 25%;
  }
}
